<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th,
    td {
        padding: 10px;
        text-align: center;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
</style>

<body>
    <h1>Admin</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>IS_PRESENT</th>
        </tr>


        <% for(let student of students) { %>
            <tr>

                <td>
                    <%= student.sid %>

                </td>
                <td>
                    <%= student.name %>
                </td>
                <td>
                    <input id="is_present" type="checkbox">
                </td>
            </tr>
            <% } %>

    </table>
    <script src="/admin.js"></script>
</body>

</html>