<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Signup Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="form-toggle">
                <button id="login-toggle" class="active">Login</button>
                <button id="signup-toggle">Sign Up</button>
            </div>
            <form id="login-form" class="form">
                <h2>Login</h2>
                <input type="email" id="login-email" placeholder="Email" required>
                <input type="password" id="login-password" placeholder="Password" required>
                <select id="user_type_login">
                    <option value="Admin" id="lo1">Admin</option>
                    <option value="Student" id="lo2">Student</option>
                </select>
                <span id="error"></span>
                <button type="submit" id="login-submit">Login</button>
            </form>
            <form id="signup-form" class="form">
                <h2>Sign Up</h2>
                <input type="text" id="signup-username" placeholder="Username" required>
                <input type="email" id="signup-email" placeholder="Email" required>
                <input type="password" id="signup-password" placeholder="Password" required>
                <input type="password" id="signup-cpassword" placeholder="Confirm Password" required>
                <select id="user_type">
                    <option value="Admin" id="so1">Admin</option>
                    <option value="Student" id="so2">Student</option>
                </select>
                <span id="error-signup"></span>
                <button type="submit" id="signup-submit">Sign Up</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>